<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container-fluid p-3 bg-primary text-white text-center">
    <h1>Blog Application</h1>
    <p>Hostname: <span th:text="${hostname}"></span></p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <h3>Build CI/CD</h3>
            <p>Build CI/CD pipeline for Spring boot java application with GitHub Action and Azure Kubernetes Service</p>
        </div>
    </div>
</div>

</body>
</html>
